<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.1.1.js"></script>
    {% block JsANDCss %}


    {% endblock %}


</head>
<body>
<div class="nav">
    <div class="col-md-3 Logo ">CRM系统</div>
    <div class="col-md-9 Mune">
        <div class="MuneLeft pull-left">
            <a href="/index/">平台首页</a>
            <a href="#">资产首页</a>
        </div>
        <div class="MuneRight pull-right">
            <a href="">任务 <span class="badge danger">4</span></a>
            <a href="">通知 <span class="badge success">2</span></a>
            <a href="">消息 <span class="badge success">3</span></a>
            <a href=""><img src="/static/img/default.png" alt="..." class="img-circle"></a>
        </div>
    </div>
</div>

<div class="content container-fluid">
        <div class="col-md-3">
            <a href="/index/">问卷调查列表</a>
            <a href="/roomreservation/">会议室预定</a>
        </div>
    <div class="col-md-9">
        {% block content %}
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="active"><a href="/index/">首页</a></li>
                    <li><a href="#">数据列表</a></li>
                </ol>
            </div>
            <div class="container-fluid">
                <a href="/questionnaireAdd/">
                    <button type="button" class="btn btn-success">添加</button>
                </a>
                <table class="table table-bordered questionnaireList">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>调查问卷名称</th>
                        <th>问卷调查班级</th>
                        <th>参与人数</th>
                        <th>问卷选项</th>
                        <th>调查地址</th>
                        <th>查看评分</th>
                        <th>操作</th>
                    </tr>
                    {% for questionnaire in questionnaire_list %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{ questionnaire.title }}</td>
                            <td>{{ questionnaire.cls.title }}</td>
                            <td>{{ questionnaire.answer_set.count }}/{{ questionnaire.cls.student_set.count }}</td>
                            <td><a href="/questionnaire/{{ questionnaire.id }}/">编辑问卷</a></td>
                            <td><a href="/investigation/{{ questionnaire.id }}/">/student/eval/2/3</a></td>
                            <td><a href="#">查看评分</a></td>
                            <td><a href="#">删除</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% endblock %}

    </div>

</div>


</body>
</html>