{% extends "index.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="active"><a href="#">首页</a></li>
            <li class="active"><a href="#">数据列表</a></li>
            <li><a href="#">编辑问卷题目</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="BtnMune">
            <button type="button" class="btn btn-success Btn_add">添加</button>
            <button type="button" class="btn btn-primary Btn_save">保存</button>
        </div>

        <div class="questionList">

            {% for item in questionFrom %}
                <div class="question form-horizontal" question_id="{{ item.question.id }}">
                    <div class="question_head">
                        <span class="question_label">问题{{ forloop.counter }}</span>
                        <button type="button" class="close question_close" ><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">问题：</label>
                        <div class="col-md-7  ">
                            {{ item.form.caption }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">类型：</label>
                        <div class="col-md-4">
                            {{ item.form.tp }}
                        </div>
                        {% if item.options %}
                            <div class="col-md-2 option_add">
                                <a href=""><span class="glyphicon glyphicon-plus"></span>添加选项</a>
                            </div>
                        {% endif %}
                    </div>
                    {% for option in item.options %}
                        <div class="form-group  {{ item.option_class }}" option_id="{{ option.option.id }}">
                            <div class="option form-inline">
                                <div class="col-md-2"></div>
                                <span class="incenter">。</span>
                                <div class="form-group ">
                                    <label>内容:</label>
                                    {{ option.form.name }}
                                </div>
                                <div class="form-group">
                                    <label>分值:</label>
                                    {{ option.form.score }}
                                    <button type="button" class="close incenter" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
          //添加问题
          $(".Btn_add").on("click",function () {
                s='<div class="question form-horizontal" question_id=""><div class="question_head">'+
                  '<span class="question_label">问题?</span><button type="button" class="close question_close" '+
                  '><span aria-hidden="true">&times;</span></button></div><div class="form-group">'+
                  '<label class="col-md-2 control-label">问题：</label><div class="col-md-7  "><textarea name="caption" '+
                  'cols="40" rows="3" class="form-control Textarea" maxlength="64"></textarea>'+
                  ' </div></div><div class="form-group"><label class="col-md-2 control-label">类型：</label><div class="col-md-4">'+
                  '<select name="tp" class="form-control"><option value="1" selected="">打分</option><option value="2">单选</option>'+
                  '<option value="3">评价</option></select></div></div></div>';

              $(".questionList").append(s);
          });
          
          //删除问题
          $(".questionList ").on("click",'.close',function () {
              $(this).parent().parent().remove()
          });

          //选择单选 弹出添加选项，反之删除
          $(".questionList").on("change","select",function () {
              console.log($(this).parent());
              s = '<div class="col-md-2 option_add"><a href="#"><span class="glyphicon glyphicon-plus"></span>添加选项</a></div>'
              if ($(this).val()==2){
                  $(this).parent().after(s)
              }else{
                  $(this).parent().next().remove()
              }
          });
        
          $(".questionList").on("click",'.option_add',function () {
              alert(123)
          })
            
    </script>

{% endblock %}